.accordeon__item p {
  display: none;
}

.accordeon__button span {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 10px;
    background: url("../img/svg/arrow-down.svg") no-repeat;
    top: 5px;
    right: 0;

    @include vp-1023 {
      width: 25px;
      height: 14px;
    }
  }
}

.accordeon__content {
  display: none;
}

.is-nojs p {
  display: block;
}

.is-nojs .accordeon__content {
  display: block;
}

.is-nojs span {
  &::after {
    display: none;
  }
}

.is-active p {
  display: block;
}

.is-active .accordeon__content {
  display: block;
}

.is-active span {
  &::after {
    background: url("../img/svg/arrow-up.svg");
  }
}
