.company {
  padding-top: 5px;
  padding-left: 5px;

  @include vp-1023 {
    padding-left: 0;
  }
}

.company ul {
  @include vp-767 {
    margin-bottom: 38px;
  }
}

.company__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $color-default-white;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      opacity: 0.6;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
