.new-product {
  padding: 65px 0;
  text-align: center;

  @include vp-1023 {
    padding: 40px 0;
  }

  @include vp-767 {
    padding: 30px 0;
  }
}

.new-product h2 {
  margin: 0;
  margin-bottom: 22px;
  padding: 0 100px;
  font-family: $ff-cormorant-garamond;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;

  @include vp-1023 {
    margin-bottom: 18px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.new-product__link {
  display: inline-flex;
  margin-bottom: 58px;
  color: $color-wood-bark;
  position: relative;

  @include vp-1023 {
    margin-bottom: 52px;
  }

  @include vp-767 {
    margin-bottom: 44px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $color-medium-wood;
    bottom: 1px;

    @include vp-1023 {
      bottom: -3px;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      &::before {
        background-color: $color-default-white;
      }
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.new-product__slider {
  position: relative;
}

.new-product__slider-button {
  position: absolute;
  top: -114px;
  width: 50px;
  height: 30px;
  cursor: pointer;

  @include vp-1023 {
    top: -104px;
  }

  &--next {
    right: -12px;

    @include vp-1023 {
      right: -10px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 11px;
      background: url("../img/svg/arrow-right.svg");
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);

      @include vp-1023 {
        width: 37px;
        height: 17px;
        background: url("../img/svg/arrow-right-tablet.svg");
      }
    }
  }

  &--prev {
    left: -12px;

    @include vp-1023 {
      left: -8px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 11px;
      background: url("../img/svg/arrow-left.svg");
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include vp-1023 {
        width: 37px;
        height: 17px;
        background: url("../img/svg/arrow-left-tablet.svg");
      }
    }
  }

  @include vp-767 {
    display: none;
  }
}

.swiper-button-disabled {
  opacity: 0.3;
}

.new-product__slider-pagination {
  width: 48px;
  height: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: $color-zorba;
  font-weight: 500;

  .swiper-pagination-bullet {
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    color: $color-wood-bark;
  }

  @include vp-1023 {
    width: 120px;
  }

  @include vp-767 {
    display: none;
  }
}

.new-product__slider-fraction {
  display: none;

  @include vp-767 {
    display: block;
    font-weight: 500;
  }
}
