.questions {
  padding: 69px 0;

  @include vp-1023 {
    padding: 42px 0;
  }

  @include vp-767 {
    padding: 37px 0;
  }
}

.questions h2 {
  margin: 0;
  margin-bottom: 48px;
  font-family: $ff-cormorant-garamond;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  text-align: center;

  @include vp-1023 {
    margin-bottom: 49px;
  }

  @include vp-767 {
    margin-bottom: 28px;
  }
}

.questions__wrapper {
  margin: 0 100px;
  border: 1px solid $color-medium-wood;

  @include vp-1023 {
    margin: 0;
  }
}

.questions__item {
  &:not(:last-child) {
    border-bottom: 1px solid $color-medium-wood;
  }
}

.questions__item p {
  margin: 0;
  margin-top: -35px;
  padding-right: 400px;
  padding-left: 50px;
  padding-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  @include vp-1279 {
    padding-right: 30%;
  }

  @include vp-1023 {
    margin-top: -17px;
    padding-right: 8%;
  }

  @include vp-767 {
    margin-top: -5px;
    padding-left: 23px;
    padding-right: 20%;
    padding-bottom: 19px;
    font-size: 14px;
    line-height: 20px;
  }
}

.questions__button {
  width: 100%;
  padding: 44px 48px 41px 42px;
  text-align: start;
  background-color: $color-transparent;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;

  @include vp-1023 {
    padding: 44px 50px 43px 50px;
  }

  @include vp-767 {
    padding: 18px 24px 20px;
    font-size: 16px;
    line-height: 21px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      opacity: 0.6;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.questions__button span {
  display: block;
  width: 100%;
}

.questions__button br {
  display: none;

  @include vp-767 {
    display: block;
  }
}
