.range-filter {
  margin-bottom: -7px;
}

.range-filter__range-controls {
  position: relative;
  margin: 3px 20px 10px;

  @include vp-1023 {
    margin-top: 0;
    margin-right: 85px;
    margin-left: 48px;
    margin-bottom: 13px;
  }

  @include vp-767 {
    margin-top: 13px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.range-filter__scale {
  width: 100%;
  height: 1px;
  background: $color-desert-storm;
}

.range-filter__bar {
  position: absolute;
  left: 65px;
  width: calc(100% - 110px);
  height: 1px;
  background: $color-medium-wood;

  @include vp-1023 {
    width: calc(100% - 146px);
  }

  @include vp-767 {
    left: 50px;
    width: calc(100% - 110px);
  }
}

.range-filter__toggle {
  position: absolute;
  top: -7.5px;
  width: 15px;
  height: 15px;
  padding: 0;
  background-color: $color-medium-wood;
  border-radius: 50%;

  @include vp-1023 {
    top: -9px;
    width: 18px;
    height: 18px;
  }
}

.range-filter__toggle:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.range-filter__toggle--min {
  left: 50px;

  @include vp-1023 {
    left: 45px;
  }

  @include vp-767 {
    left: 40px;
  }
}

.range-filter__toggle--max {
  right: 39px;

  @include vp-1023 {
    right: 67px;
  }

  @include vp-767 {
    right: 54px;
  }
}

.range-filter__price-controls {
  display: flex;
  justify-content: space-between;
  margin-left: 62px;
  margin-right: 35px;
  margin-bottom: 22px;

  @include vp-1023 {
    margin-left: 87px;
    margin-right: 133px;
    margin-bottom: 39px;
  }

  @include vp-767 {
    margin-left: 42px;
    margin-right: 45px;
    margin-bottom: 30px;
  }
}

.range-filter__price input {
  width: 35px;
  padding: 0;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  @include vp-1023 {
    font-size: 16px;
    line-height: 21px;
  }
}

.range-filter__price label {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  @include vp-1023 {
    font-size: 16px;
    line-height: 21px;
  }
}
