.new-product {
  padding: 65px 0;
  text-align: center;
}

.new-product h2 {
  margin: 0;
  margin-bottom: 35px;
  font-family: $ff-cormorant-garamond;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
}

.new-product__link {
  display: block;
  margin-bottom: 70px;
  color: $color-wood-bark;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 1px;
    background-color: $color-medium-wood;
    bottom: 0;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      &::before {
        background-color: $color-default-white;
      }
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.new-product__slider {
  position: relative;
}

.slider {
  overflow: hidden;
  margin-bottom: 50px;
}

.slider__button {
  position: absolute;
  top: -90px;
  width: 50px;
  height: 30px;
  cursor: pointer;

  &--next {
    right: 0;

    &::before {
      position: absolute;
      content: '';
      width: 30px;
      height: 11px;
      background: url("../img/svg/arrow-right.svg");
      right: 0;
    }
  }

  &--prev {
    &::before {
      position: absolute;
      content: '';
      width: 30px;
      height: 11px;
      background: url("../img/svg/arrow-left.svg");
      left: 0;
    }
  }
}

.swiper-pagination {
  width: 48px;
  height: 12px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: $color-zorba;
  font-weight: 500;

  .swiper-pagination-bullet-active {
    color: $color-wood-bark;
  }

  @include vp-1023 {
    width: 118px;
  }
}

.slide__link {
  color: $color-wood-bark;
}

.slide__link img {
  margin: 0 auto;
}
