.slider {
  overflow: hidden;
  margin-bottom: 50px;

  @include vp-1023 {
    margin-bottom: 38px;
  }
}

.slider__button {
  position: absolute;
  top: -114px;
  width: 50px;
  height: 30px;
  cursor: pointer;

  @include vp-1023 {
    top: -104px;
  }

  &--next {
    right: -12px;

    @include vp-1023 {
      right: -10px;
    }

    &::before {
      position: absolute;
      content: '';
      width: 30px;
      height: 11px;
      background: url("../img/svg/arrow-right.svg");
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);

      @include vp-1023 {
        width: 37px;
        height: 17px;
        background: url("../img/svg/arrow-right-tablet.svg");
      }
    }
  }

  &--prev {
    left: -12px;

    @include vp-1023 {
      left: -8px;
    }

    &::before {
      position: absolute;
      content: '';
      width: 30px;
      height: 11px;
      background: url("../img/svg/arrow-left.svg");
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include vp-1023 {
        width: 37px;
        height: 17px;
        background: url("../img/svg/arrow-left-tablet.svg");
      }
    }
  }
}

.swiper-pagination {
  width: 48px;
  height: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: $color-zorba;
  font-weight: 500;

  .swiper-pagination-bullet {
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    color: $color-wood-bark;
  }

  @include vp-1023 {
    width: 120px;
  }
}

.slide__link {
  color: $color-wood-bark;
}

.slide__link img {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 270px;
  height: 284px;

  @include vp-1023 {
    width: 324px;
    height: 340px;
  }
}

.slide__link p {
  margin: 0;

  @include vp-1023 {
    margin-bottom: 2px;
  }
}

.slide__link b {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
