.slider {
  overflow: hidden;
  margin-bottom: 50px;

  @include vp-1023 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    margin-bottom: 29px;
  }
}

.slider__link {
  color: $color-wood-bark;
}

.slider__link img {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 270px;

  @include vp-1023 {
    width: 324px;
  }

  @include vp-767 {
    margin-bottom: 15px;
  }
}

.slider__link p {
  margin: 0;

  @include vp-1023 {
    margin-bottom: 2px;
  }

  @include vp-767 {
    line-height: 21px;
  }
}

.slider__link b {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
