.social {
  padding-top: 6px;
  padding-left: 5px;

  @include vp-1023 {
    padding-left: 0;
  }
}

.social ul {
  @include vp-767 {
    display: flex;
  }
}

.social li {
  margin-bottom: 21px;
}

.social__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $color-default-white;

  @include vp-767 {
    margin-right: 30px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      opacity: 0.6;
    }
  }

  &:active {
    opacity: 0.3;
  }

  svg {
    margin-right: 11px;

    @include vp-1023 {
      margin-right: 15px;
    }

    @include vp-767 {
      margin-right: 0;
      height: 21px;
      width: 20px;
    }
  }

  &--facebook svg {
    margin-right: 15px;
    margin-left: 3px;

    @include vp-1023 {
      margin-right: 18px;
    }

    @include vp-767 {
      margin-left: 0;
      width: 12px;
    }
  }

  &--twitter svg {
    margin-right: 13px;
    margin-left: 1px;

    @include vp-1023 {
      margin-right: 15px;
    }

    @include vp-767 {
      width: 18px;
      margin-left: 0;
    }
  }
}

.social__link span {
  @include vp-767 {
    display: none;
  }
}
